<!-- Loads the path to static files -->
{% extends 'flowers/base.html' %}

{% block body %}
    <div class="container my-2">
        <div class="title"><h1>Flowers</h1></div>
    {% if all_flowers %}
        <div class="row flowerex">
            {% for flower in all_flowers %}
            <div class="flowerShort col-sm-3 my-2 mx-1">
                <a href="{% url 'flower:detail' flower.id %}">
                <img class="rounded img-fluid" src="{{ flower.picture }}"><br>{{ flower.name }}<br>${{ flower.price }}</a>
                    <button type="submit"><i class="fa fa-plus" aria-hidden="true"></i></button>
            </div>
            {% endfor %}
        <div>
    {% else %}
        <h4>There are no flowers</h3>
    {% endif %}
    </div>
{% endblock %}