body {
	background: #ffb3b3;
	text-align: center;
}

a {
	color: #000;
}

a:hover {
    color: #ff1a1a;
    text-decoration: none;
}

.flowerShort {
	height: auto;
	background: rgba(255, 255, 255, 0.6);
	border-radius: 10px;
	padding-top: 1em;
}

.navbar-brand {
	color: #ff1a1a !important;
	font-weight: 700;
}

.title {
	background: rgba(255, 255, 255, 0.6);
	border-radius: 5px;
	font-family: 'Sofia', cursive;
	color: #000;
}
